certifi==2018.1.18
chardet==3.0.4
click==6.7
eyeD3==0.8.4
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.0
pathlib==1.0.1
psycopg2==2.7.4
python-magic==0.4.15
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.3
urllib3==1.22
Werkzeug==0.14.1
